:root {
    --background-color-red: #ff3131;
    --background-color-orange: #ff914d;
}

body {
    background-image: url('../../public/img/backgroundImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../../public/img/backgroundImg.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
