:root {
    --background-color-red: #ff3131;
    --background-color-orange: #ff914d;
}

body {
    background-image: url('../../public/img/backgroundImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
