/* Configuração geral */

.seta_voltar{
    width: 3vh;
    height: 1.5vh;
    margin-right: 1vh;  

}

.voltar>p{
    font-size: 20px; 
    font-family: 'poppins',sans-serif;
}

.voltar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5vh 0 2vh 17vh;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    overflow-y: auto;
}
  
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 3vh;
}

/* Ajuste do layout da página */


.uploadLabel {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px solid #b8b8b8;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 2rem;
}
  
.uploadText {
    color: #D9930C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    margin-left: 0.4vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.uploadInput {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
  
/* Estilo do formulário */
.formGroup {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
  
.label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 0.5rem;
}
  
.input {
    border: none;
    background-color: #d9d9d9;
    border-radius: 6px;
    height: 3.4vh;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 4vh;
}
  
.errorMessage {
    color: red;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0.5rem;
}
 


.socialSection div {
    display: flex;
    flex-direction: column; /* Empilhar elementos verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
    gap: 0.5rem; /* Espaçamento entre os elementos */
    width: 100%;
}

.socialIcons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.socialIcons svg {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
}

.socialSection label {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.socialSection input {
    width: 100%;
    border: none;
    background-color: #d9d9d9;
    border-radius: 6px;
    height: 3.4vh;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}



.youtubeIcon {
    color: red;
}

.facebookIcon {
    color: blue;
}

.instagramIcon {
    color: #ca3466; /* Cor padrão do Instagram */
}




/* Layout de colunas */
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas agora */
    gap: 1.5rem; /* Reduzido o espaço entre as colunas */
    width: 100%;
}
  
.socialSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -1.5rem; /* Subi a seção de redes sociais */
}
  
.socialTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: bold;
}
  
/* Biografia */
.label>h2{
    font-size: 19px;
}
.bioAndSocial {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;  /* Mudança aqui: agora empilha verticalmente */
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}
  
.textarea {
    border: none;
    background-color: #d9d9d9;
    border-radius: 6px;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 50vw;
    height: 10vh;
    resize: none;
    line-height: 4vh;
}

.successMessage {
    color: green;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
/* Botão de salvar */
.submitButton {
    background-color: #ED6A2D;
    border: none;
    border-radius: 10px;
    height: 4vh;
    width: 17vh;
    margin-top: -4vh; /* Ajustado o espaço para ficar mais perto da biografia */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    margin-bottom: 10vh;
}
  
.submitButton:hover {
    background-color: #a74116;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    height: 15vh;
}

.closeButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3vh;
}

.closeButton:hover {
    background-color: #2c8530;
}

  
/* Responsividade */
@media (max-width: 1200px) {
    .form {
        width: 90%;
        margin-left: 5%;
        max-height: none; /* Sem limite de altura em telas pequenas */
        overflow-y: auto; /* Permite rolagem se necessário */
    }
  
    .columns {
        grid-template-columns: 1fr; /* Em telas pequenas, as colunas ficam em uma linha */
    }
  
    .bioAndSocial {
        flex-direction: column;
    }
  
    .submitButton {
        width: 100%;
        margin-top: -4vh;
        margin-bottom: 7vh;
    }
}
  
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
    .uploadLabel {
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 2px solid #b8b8b8;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        margin-bottom: 2rem;
      }
    .uploadText {
        color: #D9930C;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        position: absolute;
        margin-left: 1vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
    .uploadLabel {
      width: 6rem;
      height: 6rem;
    }
  
    .previewImage {
      width: 6rem;
      height: 6rem;
    }
  
    .formGroup {
      margin-bottom: 1.5rem;
    }
  
    .submitButton {
      width: 100%;
      
    }
}