.Main {
        display: flex;
        margin: 3vh 25vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.elementos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 3vh 0vh;
        gap: 5vh 10vh;
}

.digitoPesquisa {
        color: #FF914D;
        border-bottom: 3px solid #FF914D;
}

.titleResult {
        font-size: 25pt;
        font-family: "Poppins", serif;
}

.headerBusca {
        display: flex;
        margin-bottom: 10px; 
}

.filterButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 14px;
        border-radius: 50%;
}

.filterButton:hover {
        background-color: #00000007; 
}