.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
.FooterNav {
    margin-bottom: 20px;
  }
  
.ul {
    list-style: none;
    padding: 0;
  }
  
.ul li {
    display: inline;
    margin: 0 10px;
  }
  
.footerTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  
.footerBottom {
    font-size: 0.9em;
    color: #6c757d;
}

@font-face {
  font-family: Poppins;
  src: url();
}