.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5vh auto 7vh auto;
    width: 70%;
}

  
.titulo>h1{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'poppins',sans-serif;
}

.receita{
    width: 100vh;
    font-family: 'poppins',sans-serif;
}


.seta_voltar{
    width: 3vh;
    height: 1.5vh;
    margin-right: 1vh;  

}

.voltar>p{
    font-size: 20px; 
    font-family: 'poppins',sans-serif;
}

.voltar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5vh 0 2vh 17vh;
}

.receita{
    display: flex;
    margin-left: 17vh;
    margin-bottom: 2vh;
    flex-direction: row;
    gap: 1vh;
    font-family: 'poppins',sans-serif;
    
}



.icon_fav{
    margin-left: 35.8vh;
    margin-top: 1vh;
    cursor: pointer;
}

.estrelas {
    display: flex;
    gap: 0.5rem;
    margin-top: 1vh;
  }
  
  .avaliacoes1, .avaliacoes2 , .avaliacoes3{
    fill: #ED6A2D; 
    color: #ED6A2D;
  }
  
  
  .avaliacoes4, .avaliacoes5 {
    fill: transparent; 
    color: #ED6A2D;
  }

.receita>p{
    margin-top: 1.5vh;
    margin-left: 1vh;
    font-family: 'poppins',sans-serif;
}

.dis_receita{
    display: flex;
    font-family: 'poppins',sans-serif;
}

.dis_receita{
    display: flex;
    margin-left: 17vh;
    font-weight: bold;
    font-size: 18px;
    
}

.div_rec{
    width: 60vh;
    padding-left: 5vh;
}

.div_rec>h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.div_rec>p{
    margin-top: 2vh;

}

.star_rec{
    fill: #dddd; 
    color: #dddd;
    margin-top: 3px;
    font-size: 20px;
    margin-left: 12px;
}



.autor{
    color: black;
    display: flex;
    margin-left: 17vh;
    font-size: 18px;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.autor a{
    text-decoration: none;
    color: black;
}

.autor a:hover{
    color: #FF914D;
    text-decoration: none;
}


.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .fixed-textarea {
    resize: none;
    height: 100px; 
    width: 100%;   
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 480px;
    height: 290px;
  }
  
.modal-content>h2{
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    text-align: center;
    margin-top: 2.5rem;
  }

  .modal-content>p{
    font-size: 13px;
    font-family: 'poppins',sans-serif;
    margin-top: 2.9rem;
    margin-left: 2rem;
  }
.stars{
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
}

.stars>i{
    margin-left: 0.5rem;
    cursor: pointer;
}

.comentar{
    background-color: #D9D9D9;
    margin-top: 0.5rem;
    border: none;
    height: 6rem;
    width: 25rem;
    margin-left: 2rem;
    border-radius: 5px;
    font-family: 'poppins',sans-serif;
}
.comentar2 {
    background-color: #D9D9D9;
    margin-top: 0.5rem;
    border: none;
    height: 100px;
    width: 100%; 
    margin-left: 0.3rem;
    border-radius: 5px;
    resize: none; 
    padding: 10px;
    font-family: 'poppins';
    font-size: 13px;
    line-height: 1.7;
  }
  


#submitBtn{
    margin-left: 23.3rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #D9D9D9;
    border: none;
    height: 1.5rem;
    border-radius: 20px;
    width: 4rem;
    
}

.close {
    float: right;
    font-size: 23px;
    cursor:pointer;
  }

  .avalie {
    position: relative;
    top: -6px; 
    font-family: 'poppins', sans-serif;
}


.openModalBtn{
    border-radius: 9px ;
    margin-top: 1.7vh;
    text-decoration: black;
    background-color: #FF914D ;
    border: 0;
    height: 3.5vh;
    width: 20vh;
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.tempo{
    margin-top: 2vh;
}

  .relogio {
    color: #BF6A02;
    font-size: 2vh;
    margin-right: 0.5vh;
    position: relative;
    top: 3.2px; 
  }
.sb_rec{
    margin-left: 17vh;
    display: flex;
    gap: 10rem;
    font-family: 'poppins', sans-serif;
}
  
  .sb_rec2 {
    display: flex;
    margin-left: 17vh;
    gap: 10.8vw; 
    margin-top: 2.5rem;

  }
  
  .denunciar > button {
    border-radius: 9px;
    text-decoration: black;
    background-color: #562222;
    border: 0;
    height: 2.8vh;
    width: 15vh;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  
  .compartilhar > button {
    border-radius: 9px;
    text-decoration: black;
    background-color: #DE3333;
    border: 0;
    height: 2.8vh;
    width: 16vh;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }


  
  .modal {
    font-family: 'poppins', sans-serif;
    margin-left: 35vw;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 25vw;
    height: 33vh;
    max-width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2;
  }

  .otherReasonInput {
    resize: none;
    background-color: #D9D9D9;
    
    
  }

  .reportSelect{
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    height: 3vh;
    border-radius: 6px;
  }
  
  


.modalEstrelas

  .modal h2 {
    margin-bottom: 10px;
  }
  
  .modal textarea {
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333; 
    transition: 0.2s;
  }
  
  .closeIcon:hover {
    color: #ff0000; 
  }
  
  
  .submitButton {
    background: #ff5722;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background: #e64a19;
  }
  

  
.ingredientes2 {
    border-top: 2px solid black; 
    height: auto;
    margin-top: 5vh;
    width: auto;
    border-bottom: 2px solid black;
    padding-bottom: 10vh;
}

.ingredientes3{
    margin-top: 3vh;
    font-family: 'poppins',sans-serif;
    font-size:23px ;
}
.ingredientes3>h2{
    text-align: center;
}

.ingredientes4{
    display: flex;
    flex-direction: column;
    
}

.ingredientes4>ul {
    margin-left: 17vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    list-style-type:none; 
    padding: 0;
}

.ingredientes4 > ul li {
    position: relative;
    padding-left: 40px; 
    color: black; 
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    margin-top: 5rem;
}

.ingredientes4 > ul li::before {
    content: 'â—'; 
    position: absolute;
    left: 0;
    color: black; 
    font-size: 1em; 
    
}


.ingredientes4>li {
    padding: 10px;
    border: 1px solid #ccc; 
    text-align: center;
}


.preparo{
    width: auto;
    height: auto;
    border-bottom: 2px solid black;
    padding-bottom: 10vh;
}

.preparo2{
    margin-top: 3vh;
    font-family: 'poppins',sans-serif;
    font-size:23px ;
    display: flex;
    justify-content: center;
}


.preparo3 > ul {
    margin-left: 17vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(1fr); 
    list-style-type: none; 
    padding: 0;
}

.preparo3 > ul li {
    position: relative;
    padding-left: 40px; 
    color: black; 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 3rem;
}

.preparo3 > ul li::before {
    content: counter(list-counter); 
    counter-increment: list-counter; 
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #D9D9D9; 
    color: black; 
    border-radius: 50%; 
    text-align: center;
    line-height: 25px; 
    font-size: 0.9em; 
    font-weight: bold; 
    
}

.preparo3 > ul {
    counter-reset: list-counter; 
    
}

.comentario{
    margin-left: 17vh;
    padding-bottom: 10vh;
    padding-top: 5vh;
    
}

.comentarios{
    margin-bottom: 100px;
}

.coment{
    text-align: center;
    margin-top: auto;
    margin-top: 3vh;
    font-family: 'poppins',sans-serif;
    font-size:23px ;
    
}


.comen1{
    background-color: #d9d9d9;
    width: 47vh;    
    height: 11vh;
    font-size: 20px;
    border-radius: 1vh;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative; 
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.4),  
        4px 0 8px rgba(0, 0, 2, 0.4);
   
}

.comen1>img{
    border-radius: 50px;
    width: 45px;
    margin-left: 1rem;
    margin-top: -0.2vh;
}
.comen1>p{
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    margin-left: 1.4rem;
    margin-top: 0.4rem;
}

.denuncia{
    position: absolute;
    right: 1rem; 
    top: 0.8rem;
    font-family: 'poppins',sans-serif;
    font-size: 10px;
    opacity: 0.7;
    cursor: pointer;
}

.star_comen{
    position: absolute; 
    left: 6.5rem; 
    top: 1rem; 
    font-size: 13px;
    display: flex;
}
.star_comen>i{
    margin-left: 0.3rem; 
    color: #ED6A2D;
    
}

.comenta{
    font-family: 'Poppins', sans-serif; 
    font-size: 13px;
    margin-left: 6.2rem; 
    margin-top: 1.9rem; 
    position: relative; 
    top: 3rem; 
    line-height: 1.5; 
    color: #333; 
    
}


.comen2{
    background-color: #d9d9d9;
    width: 47vh;    
    height: 11vh;
    font-size: 20px;
    border-radius: 1vh;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative; 
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.4), 
        4px 0 8px rgba(0, 0, 2, 0.4);   
}

.comen2>img{
    border-radius: 50px;
    width: 45px;
    margin-left: 1rem;
    margin-top: -0.2vh;
}
.comen2>p{
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    margin-left: 1.4rem;
    margin-top: 0.4rem;
}

.comen3{
    background-color: #d9d9d9;
    width: 47vh;    
    height: 11vh;
    font-size: 20px;
    border-radius: 1vh;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative; 
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.4),  
        4px 0 8px rgba(0, 0, 2, 0.4);   
}

.comen3>img{
    border-radius: 50px;
    width: 45px;
    margin-left: 1rem;
    margin-top: -0.2vh;
}
.comen3>p{
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    margin-left: 1.4rem;
    margin-top: 0.4rem;
}

.comen4{
    background-color: #d9d9d9;
    width: 47vh;    
    height: 11vh;
    font-size: 20px;
    border-radius: 1vh;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative; 
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.4),  
        4px 0 8px rgba(0, 0, 2, 0.4);   
}

.comen4>img{
    border-radius: 50px;
    width: 45px;
    margin-left: 1rem;
    margin-top: -0.2vh;
}
.comen4>p{
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    margin-left: 1.4rem;
    margin-top: 0.4rem;
}