.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.h1 {
    color: #c6c9c8;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 2rem; 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 0 auto 100px auto;
}

.category {
    display:inline-block;
    width: 200px;
    text-align: center;
    width: 100%;
}

.category img {
    width: 70%;
    height: 100px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.category:hover {
    opacity: 0.5;
    transform: scale(1.1);
    transition: 400ms linear;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

.item:hover {
    transform: scale(1.05);
}

.itemImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.item h2 a, 
.item p a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    font-size: 15px;
}
 
.item p a:hover {
    color: #FF914D; 
}

@media (max-width: 768px) {
    .categories {
        flex-wrap: wrap;
    }

    .category {
        width: 150px; 
    }

    .category img {
        width: 60%;
        height: 80px;
    }

    .items {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
}

@media (max-width: 521px) and (max-height: 484px) {
    .container {
        padding: 10px;
    }

    .h1 {
        font-size: 1.5rem;
        top: 70%;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 80%;
        margin: 0 auto 100px auto;
    }

    .category img {
        width: 70%;
        height: 100px;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s ease-in-out;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
    }

    .category {
        display:inline-block;
        text-align: center;
        width: 150%;
        margin-left: -25%;
    }

    .items {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .itemImage {
        height: 150px;
    }
}